.header{
    background-image: url("https://images.unsplash.com/photo-1555066931-4365d14bab8c?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    /* background-image: url("https://c0.wallpaperflare.com/preview/524/860/912/screen-code-coding-programming.jpg"); */
    /* background-image: url("https://media.licdn.com/dms/image/D4D16AQGOMWkwsMDhNA/profile-displaybackgroundimage-shrink_350_1400/0/1703290426945?e=1715212800&v=beta&t=wBmebFetFFPUMAkk1RAdqQXbPkk3BpkHf9xLFEd4AyA"); */
    background-size: cover; /* Ajusta la imagen para que cubra todo el elemento */
    background-position: center; /* Centra la imagen */
    color: rgb(238, 238, 238);
    padding-bottom: 40px;
    height: 600px;
    padding-top: 55px;
}
.navbar{
    font-size: 20px;
    display: flex;
    background-color: #020f27;
    /* background-color: #d9eaf8; */
}
.foto{
    /* backdrop-filter: blur(2px);
    width: 500px;
    height: 500px; */
    /* padding-top: 20px; */
}

.iconos{
    font-size: 27px;
}
.imagen{
    margin-top: 70px;
    width: 250px;
    height: 250px;
}
.imagen:hover{
    transform: scale(1.05); 
    transition: transform 0.3s ease; 
}
.texto{
    font-size: 20px;
}
.imagenLogo{
    margin-right: 10px;
}
.brand{
    font-size: 25px;
}
.link{
    text-decoration: none; 
    color: inherit;
}
.btnOscuro{
    color: black;
}

.btn2 {
    position: relative;
    display: inline-block;
    padding: 9px 28px;
    border: 2px solid #fefefe;
    text-transform: uppercase;
    color: #fefefe;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    transition: 0.3s;
  }
  
  .btn2::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - -2px);
    background-color: #020f27;
    transition: 0.3s ease-out;
    transform: scaleY(1);
  }
  
  .btn2::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - 50px);
    background-color: #020f27;
    transition: 0.3s ease-out;
    transform: scaleY(1);
  }
  
  .btn2:hover::before {
    transform: translateY(-27px);
    height: 0;
  }
  
  .btn2:hover::after {
    transform: scaleX(0);
    transition-delay: 0.15s;
  }
  
  .btn2:hover {
    border: 2px solid #fefefe;
  }
  
  .btn2 span {
    position: relative;
    z-index: 3;
  }
  
  button {
    text-decoration: none;
    border: none;
    background-color: transparent;
  }




  .btn3 {
    position: relative;
    display: inline-block;
    padding: 9px 28px;
    border: 2px solid #03122E;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    transition: 0.3s;
  }
  
  .btn3::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - -2px);
    background-color: #d9eaf8;
    transition: 0.3s ease-out;
    transform: scaleY(1);
  }
  
  .btn3::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - 50px);
    background-color: #03122E;
    transition: 0.3s ease-out;
    transform: scaleY(1);
  }
  
  .btn3:hover::before {
    transform: translateY(-27px);
    height: 0;
  }
  
  .btn3:hover::after {
    transform: scaleX(0);
    transition-delay: 0.15s;
  }
  
  .btn3:hover {
    border: 2px solid #03122E;
  }
  
  .btn3 span {
    position: relative;
    z-index: 3;
  }
  
  button {
    text-decoration: none;
    border: none;
    background-color: transparent;
  }